@import "tailwindcss";

@theme {
  --color-forest-950: #101B15;
  --color-forest-900: #182922;
  --color-forest-800: #28402F;

  --color-gold-500: #C9A227;
  --color-gold-400: #DBB94A;

  --color-cream-50: #F4F1EA;
  --color-sage-400: #8FA396;

  --color-teal-500: #2FA88C;
  --color-rose-500: #C2493D;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-forest-950 text-cream-50 font-sans;
}